<!DOCTYPE html>
<html class="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-gray-900 text-gray-100">
        <header class="bg-gray-800 text-white shadow-lg">
            <nav class="px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between items-center h-16">
                    <!-- Logo ou titre -->
                    <div class="text-2xl font-bold">
                        <a href="/" class="text-white hover:text-blue-400">My Library</a>
                    </div>
                    <!-- Menu de navigation -->
                    <ul class="flex space-x-6">
                        <li>
                            <a href="{{ path('app_books') }}" class="text-gray-300 hover:text-white transition-colors duration-200">
                                Books
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_authors') }}" class="text-gray-300 hover:text-white transition-colors duration-200">
                                Authors
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="p-6">
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>
